body{
    background-image: url('../images/isaac-benhesed-onLbXleIkds-unsplash\ \(1\).jpg');
    background-position: 50% 20px;
    font-family: 'Montserrat', sans-serif;
}
header{
    text-align: center;
}
.Navbar{     
    /* Navigation Bar */
    /* background-color: gray; */
    /* negative value to bring navbar up */
    padding: 30px;
    text-align: right;
}
.Navbar a{
    color: black;
    padding: 25px;          
    text-decoration: none; 
}
.Navbar a:hover{
    color: white;
    transition: 0.5s;
}
.Navbar img{
    width: 100px;
    float: left;
    margin: 0;
}
footer{
    /* locking the footer to the bottom of the page */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color:gray; */
    color: gray;
    text-align: left;
/* padding order goes: top right bottom left */
    padding: 5px 0px 5px 10px; /* padding order: top, right, bottom, left */
}
footer p{
    margin-left: 75px;
}
i{
    color: gray;
    float: right;
    padding: 0px 20px 0px 0px;
}
/*---------------------------------------------------------------------------------------*/
/* Styling inputs with type="text , select elements and textareas*/
.intro{
    margin-left: 75px;
    padding: 10px;
}
.form{
    float: left;
    size: 50%;
    margin-left: 75px;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
}
input[type=text], select, textarea{
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 10px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
#message{
    height: 200px;
}

.map{
    float: right;
    size: 40%;
    margin-right: 250px;
    width: 500px;
    height: 500px;
    
}
.locationMap{
    text-align: center;
}

