body{
    background-image: url('../images/isaac-benhesed-onLbXleIkds-unsplash\ \(1\).jpg');
    background-position: 50% 20px;
    font-family: 'Montserrat', sans-serif;
}
header{
    text-align: center;
}
.Navbar{     
    /* Navigation Bar */
    /* negative value to bring navbar up */
    padding: 30px;
    text-align: right;
}
.Navbar a{
    color: black;
    padding: 25px;          
    text-decoration: none; 
}
.Navbar a:hover{
    color: lightskyblue;
    transition: 0.5s;
}
.Navbar img{
    width: 100px;
    float: left;
    margin: 0;
}
footer{
    /* locking the footer to the bottom of the page */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: gray;
    text-align: left;
    padding: 5px 0px 5px 10px; /* padding order: top, right, bottom, left */
}
footer p{
    margin-left: 75px;
}
i{
    font-size: 20px;
    color: gray;
    float: right;
    padding: 0px 20px 0px 0px;
}

/*--------------------------------------------------------------------------------------- */

.resume{
    /* centering image */
    display: block;
    float: left;
    margin-top: 150px;
    padding-left: 300px; 

    /* hover */
    transition: .2s;
}
.resume:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}